<form action="https://api.slapform.com/gharondamorni@gmail.com" method="POST">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <h1 class="mt-5">Kitchen-sink Contact Form</h1>
          <p class="lead">Contact us if you want to use this archaic method although we all know all these go to the same e-mail address</p>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input name="name" type="text" class="form-control" value="" placeholder="Jon Snow">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input name="slap_replyto" type="text" class="form-control" placeholder="your@email.com">
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea name="message" type="textarea" class="form-control" placeholder="Hello, world!" id=""></textarea>
        </div>
        <div class="form-group" style="">
          <input type="text" class="form-control hidden" name="slap_honey" hidden="hidden" placeholder="This isn't visible to humans.">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>